<div class="container">
  <div class="row">
    <div class="span12">
      <h2 class="section-title">Portfolio</h2>
    </div>
  </div>
  <div class="row">
    <ul class="projects">
      <li class="project red span4">
        <a href="">Love</a>
      </li>
      <li class="project blue span4">
        <a href="/portfolio/clever">D3JS and Clever</a>
      </li>
      <li class="placeholder span4">Soompi Redux</li>
      <li class="placeholder span4">Soompi</li>
      <li class="placeholder span4">Enswers</li>
    </ul>
  </div>
</div>