<div id="home">
  <section home-intro skrollr id="intro" data-0="opacity: 1; z-index: 1;" data-1000="opacity: 0; z-index: 0">
    <div class="welcome">
      <h1> 
        <span class="line1" data-0="font-size: 60px;" data-1000="font-size: 0px;">More than you</span>
        <span class="line2" data-0="font-size: 86px;" data-1000="font-size: 0px;">wanted to</span>
        <span class="line3" data-0="font-size: 75px;" data-1000="font-size: 0px;">know about</span>
        <span class="line4 fn" data-0="font-size: 149px;" data-1000="font-size: 0px;">Andre</span>
        <span class="line5 ln" data-0="font-size: 83px;" data-1000="font-size: 0px;">Deutmeyer</span>
      </h1>
    </div>
  </section>
  <section portfolio-archive skrollr 
    id="portfolio" 
    data-0="opacity: 0; z-index: 0;" 
    data-1000="opacity: 1; z-index: 1;">
  </section>
</div>